<p><strong>Sesjomat.pl </strong>to zestawienie danych publicznych dotyczących prac Rady Gminy Dopiewo w kadencji 2018-2023. Prezentowane dane dotyczą przegłosowanych pozytywnie uchwał w trakcie sesji.</p>
<p>Wszystkie informacje prezentowane na <strong>Sesjomat.pl </strong> pochodzą z <a href="https://bip.dopiewo.pl" target="_blank" rel="nofollow" title="Gmina Dopiewo - Biuletyn Informacji Publicznej">Biuletynu Informacji Publicznej</a> (BIP). Ze względu na ograniczony dostęp do niektórych informacji w BIP, nie zostały uwzględnione inne dane, takie jak np. obrad komisji merytorycznych. Więcej informacji na stronie <a href="/sesjomat" title="Więcej o Sesjomat.pl">Jak powstaje Sesjomat?</a>.</p>
<div class="docs-demo columns">
  <div class="column col-6 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">Sesje</div>
      </div>
      <div class="card-body">Wykaz sesji Rady Gminy Dopiewo w kadencji 2018-2023.</div>
      <div class="card-footer"><a class="btn btn-primary" title="Zestawienie sesji rady gminy" href="/sesje">Zobacz</a></div>
    </div>
  </div>
  <div class="column col-6 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">Uchwały</div>
      </div>
      <div class="card-body">Wykaz uchwał podjętych przez Radę Gminy Dopiewo w kadencji 2018-2023.</div>
      <div class="card-footer"><a class="btn btn-primary" title="Rejestr podjętych uchwał" href="/uchwaly">Zobacz</a></div>
    </div>
  </div>
  <div class="column col-6 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">Głosowanie imienne</div>
      </div>
      <div class="card-body">Rejestr oddanych głosów podczas sesji w kadencji 2018-2013.</div>
      <div class="card-footer"><a class="btn btn-primary" title="Jak głosowali radni?" href="/glosowanie-imienne">Zobacz</a></div>
    </div>
  </div>
  <div class="column col-6 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">Jak powstaje Sesjomat?</div>
      </div>
      <div class="card-body">Skąd i jakie dane są gromadzone na tej stronie? Plus dodatkowe informacje.</div>
      <div class="card-footer"><a class="btn btn-primary" title="Więcej o Sesjomat.pl" href="/sesjomat">Zobacz</a></div>
    </div>
  </div>
</div>
